<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title>BoxMetric.com</title>
    <link href="http://c196149.r49.cf1.rackcdn.com/bootstrap.css" rel="stylesheet">
    {% block extra_js %}{% endblock extra_js %}

    <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-28126227-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
    </script>

  </head>
  <body style="padding-top: 80px;">
    
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="/">BoxMetric&#8482;</a>
          <ul class="nav">
            <li><a href="/cp/">Dashboard</a></li>
          </ul>
        </div>
      </div>
    </div>

{% block content %}{% endblock %}

    <footer>
        <div align="center" style="padding:0 0 10px 0">
            <br/><br/>
            <p align="center">&copy; Boxmetric 2012</p>
        </div>
    </footer>
    
  </body>
</html>
