{% extends "base.html" %}

{% block content %}

<div class="inner">
        <div class="container">
            <div class="page-header">
                <h1>Boxmetric <small>Email Analytics</small></h1>
                <h2>Email Data - {{type.capitalize}}</h2>
            </div>
            <div class="row">
                <div class="span8">
                    <p>This page will display specific types of data found in emails</p>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
