{% extends "base.html" %}

{% block content %}

<div class="inner">
        <div class="container">
            <div class="page-header">
                <h1>Boxmetric <small>Email Analytics</small></h1>
                <h2>Emails</h2>
            </div>
            <div class="row">
                <div class="span8">
                    <p>This page is where all emails can be viewed. Users will be able to select email folders, calendar year, month, week or day
                        for which to view an email message.</p>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
