{% extends "base.html" %}

{% block content %}

<div class="inner">
        <div class="container">
            <div class="page-header">
                <h1>Boxmetric <small>Email Analytics</small></h1>
                <h2>Email Data Summary</h2>
            </div>
            <div class="row">
                <div class="span8">
                    <p>Summary and dashboard UI elements for different types of email data (contacts, pictures, videos, documents, etc...)</p>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
