{% extends "base.html" %}

{% block content %}

<div class="inner">
        <div class="container">
            <div class="page-header">
                <h1>Boxmetric <small>Email Analytics</small></h1>
                <h2>Smart Emails</h2>
            </div>
            <div class="row">
                <div class="span8">
                    <p>This page displays email messages that contain special information that is found in email messages. 
                        Such information would be considered important based on an internally defined algorithm. 
                        Later on, there should be a way for a user to define their own "smart email" algorithms through an easy to use interface.</p>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
