{% extends "base.html" %}

{% block content %}
    
    <div class="inner">
        <div class="container">
            <div class="page-header">
                <h1>Boxmetric <small>Email Analytics</small></h1>
                <h2>Email Timeline</h2>
            </div>
            <div class="row">
                <div class="span8">
                    <p>Timeline is a special view of a user's email that will allow the user to browse through their email history using
                    a special timeline user interface similar to what is used in Facebook.</p>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

