{% extends "base.html" %}
{% load url from future %}

{% block content %}

<div class="inner">
        <div class="container">
		<div class="row">
                	<div class="span18">
				<p>Enter your full Gmail account name below:</p>

{% if form.errors %}
<p style="color:red"><b>Please fix the errors below and try again.</b></p>
{% endif %}

<form method="post" action="{% url 'boxmetric.app.views.signup' %}">
{% csrf_token %}
    {{ form.gmail.errors }}
    <label for="id_gmail"><b>Gmail Address:</b></label>
    <div class="input">{{ form.gmail }}</div>
    <br/>
    <label for="id_invitation"><b>Invitation Code:</b></label>
    <div class="input">{{ form.invitation }}</div>
    <br/>
    {{ form.password.errors }}
    <label for="id_password"><b>Password:</b></label>
    <div class="input">{{ form.password }} <small>This is NOT your gmail password, create a new password for the Boxmetric Dashboard.</small></div>
    <br/>
    <div class="input"><input type="submit" value="Sign Up" class="btn primary" /></div>
</form>

			</div>
		</div>
	</div>
</div>

{% endblock %}
